<a href="https://colab.research.google.com/github/cdevrywhr/pythonbootcamp/blob/main/8_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Analyze Data with Pandas**

In [1]:
import pandas as pd

In [3]:
new_s = pd.Series([10,20,30,40])
new_s

0    10
1    20
2    30
3    40
dtype: int64

In [5]:
put_index = pd.Series([10,20,30,40], index=["a","b","c","d"])
put_index

a    10
b    20
c    30
d    40
dtype: int64

# Data Frame

In [8]:
#Data Frame
colors = ["red","orange","yellow","white"]
degrees = ["12","13","14","15"]
numbers = [1,2,3,4]

new_df = pd.DataFrame({"colors":colors,"degrees":degrees,"numbers":numbers},
                      columns=["colors","degrees","numbers"],
                      index=range(1,5))

new_df

   colors degrees  numbers
1     red      12        1
2  orange      13        2
3  yellow      14        3
4   white      15        4

In [9]:
#read file with pandas
df = pd.read_csv("sample10.csv",low_memory=False)
df

   No   Cars  numbers  year  price
0   1   Car1      123  2005   5000
1   2   Car2      456  2006   6000
2   3   Car3      789  2007   7000
3   4   Car4     1011  2008   8000
4   5   Car5     1213  2009   9000
5   6   Car6     1415  2010  10000
6   7   Car7     1617  2011  11000
7   8   Car8     1819  2012  12000
8   9   Car9     2011  2013  13000
9  10  Car10     2356  2014  14000

In [10]:
df.head()

   No  Cars  numbers  year  price
0   1  Car1      123  2005   5000
1   2  Car2      456  2006   6000
2   3  Car3      789  2007   7000
3   4  Car4     1011  2008   8000
4   5  Car5     1213  2009   9000

In [16]:
df.shape #(row,column)

(10, 5)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       10 non-null     int64
 1   Cars     10 non-null     object
 2   numbers  10 non-null     int64
 3   year     10 non-null     int64
 4   price    10 non-null     int64
dtypes: int64(4), object(1)
memory usage: 528.0+ bytes

In [18]:
df.describe()

             No      numbers        year         price
count  10.00000    10.000000    10.00000     10.000000
mean    5.50000  1281.000000  2009.50000   9500.000000
std     3.02765   703.167279     3.02765   3027.650354
min     1.00000   123.000000  2005.00000   5000.000000
25%     3.25000   844.500000  2007.25000   7250.000000
50%     5.50000  1314.000000  2009.50000   9500.000000
75%     7.75000  1768.500000  2011.75000  11750.000000
max    10.00000  2356.000000  2014.00000  14000.000000

In [19]:
df.loc[df["price"].argmax()][["Cars","price"]]

Cars     Car10
price    14000
Name: 9, dtype: object

In [20]:
df.loc[df["price"].argmin()][["Cars","price"]]

Cars     Car1
price    5000
Name: 0, dtype: object

# read from url

In [11]:
new_url = "https://en.wikipedia.org/wiki/Academy_Awards"

In [13]:
new_html = pd.read_html(new_url, header=0, index_col=0)[3]

In [14]:
new_html.head()

,Unnamed: 1,Unnamed: 2
Award,Best Actor,Best Actress
Winner,Anthony Hopkins(The Father),Frances McDormand(Nomadland)
NaN,NaN,NaN
Award,Best Supporting Actor,Best Supporting Actress
Winner,Daniel Kaluuya(Judas and the Black Messiah),Youn Yuh-jung(Minari)

# Excel files

In [22]:
new_df = pd.read_excel("demo.xlsx",sheet_name=0)
print(new_df)

         Day    Language  Hour
0     Monday      Python     5
1    Tuesday        Java     7
2  Wednesday  Javascript     5
3   Thursday           R     6
4     Friday          Go     4
5   Saturday        Ruby     4
6     Sunday           C     6

# JSON file

In [24]:
new_json = pd.read_json("https://raw.githubusercontent.com/domoritz/maps/master/data/iris.json")
new_json.head()

   sepalLength  sepalWidth  petalLength  petalWidth species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

In [26]:
#write a json file
new_json.to_json('iris.json')